.navbar {
    padding: 7px 0;
    background-color: rgb(6, 132, 196);
  }
  .navbar-toggle {
    color: white;
    margin-left: 5px;
  }
  .navbar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 210px;
    margin: 0;
    z-index: 9998;
    padding: 0;
    background-color: #3a3633;
  
    list-style: none;
  }
  .navbar-usuario {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #525151;
    margin-bottom: 15px;
  }
  
  .navbar-menuitem {
    padding: 15px;
  }
  .navbar-menuitem a {
    color: #c0bbb7;
    text-decoration: none;
  }
  .navbar-menuitem a:hover {
    color: white;
  }
  .navbar-menuitem:hover {
    background-color: #232628;
  }
  
  .navbar-menuitem.ativo {
    background-color: #494541;
  }
  