
    <p-panel >
    <div class="ui-g">
       
        <div class="ui-g-6 ui-sm-12"> 
          <h1>Conheça a Easy Learning</h1>
          <h4>Trazendo benefícios a você!</h4>
          
          <p>
              Somos a startup que buscar ajudar pessoas com problemas com dificuldades na aprendizagem e para aquelas que desejam obter uma renda extra através do seu ensino.
          </p>
        </div>

        <div class="ui-g-6 ui-sm-12">
            <iframe 
            src="https://youtube.com/embed/SkZn5fE9wu0">
            </iframe>
        </div>
        
        
        
    </div>    
    </p-panel>

    