<!--
<div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
                <p-card title="Advanced Card" subtitle="Prof. História"  styleClass="ui-card-shadow">
                        <p-header>
                            <img src="Card" src="assets/images/thhfhg.png">
                        </p-header>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                        <p-footer>
                           
                        </p-footer>
                </p-card>
                
            </div>
            <div class="ui-g-12 ui-md-6">
                    <p-card title="Advanced Card" subtitle="Prof. Matemática"  styleClass="ui-card-shadow">
                            <p-header>
                                <img src="Card" src="assets/images/thhfhg.png">
                            </p-header>
                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                            <p-footer>
                               
                            </p-footer>
                    </p-card>
                    
            </div>
</div>
    

-->

<p-dataScroller [value]="professores" [rows]="5" [loader]="loadButton">
    <p-header>
        Professores
    </p-header>
    <ng-template let-prof pTemplate="item">
        <div class="ui-g prof-item">
            <div class="ui-g-12 ui-md-3">
               
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-4"><img [src]="prof.urlImg" width="80" height="80"></div>
                    <div class="ui-g-2 ui-sm-6">
                        Nome: {{prof.nome}}<br />
                        Matéria: {{prof.profissao}}<br />
                        Valor: R$ {{prof.valor}} /h
                        <br /><br />
                        {{prof.descricao}}
                    </div>
                   
                    <div class="ui-g-2 ui-sm-12">
                        Email: {{prof.email}} <br />
                        Tel: {{prof.telefone}}
                    </div>

                    
                    

                  
                </div>
            </div>
        </div>
    </ng-template>
    <p-footer>
        <button #loadButton type="text" *ngIf="professores.length > 5" icon="fa-refresh" pButton label="Mais"></button>
    </p-footer>
</p-dataScroller>
