<p-dataList [value]="professores" [rows]="5">
   
    <ng-template let-prof pTemplate="item">
        <div class="ui-g ui-fluid prof-item">
           
            <div class="ui-g-6 ui-md-12" style="text-align:center; margin-left: 80px;">
                <img [src]="prof.img" width="100" height="120">
                <div class="ui-g-2 ui-sm-12" style="font-size: 20px;">{{prof.nome}} {{prof.sobrenome}}</div>
            </div>
            
            <div class="ui-g-12 ui-md-12 prof-details">
                <div class="ui-g">
                    <div class="ui-g-10 ui-sm-12" style="text-align: center;">
                           {{prof.descricao}}
                    </div>
                    
                    <div class="ui-g-10 ui-sm-6">{{prof.telefone}}</div>
                    <div *ngIf="prof.telefone2.length > 0" class="ui-g-10 ui-sm-6">{{prof.telefone2}}</div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataList>