
<p-dataScroller [value]="professores" [rows]="5" [loader]="loadButton">
    <p-header>
        Professores
    </p-header>
    <ng-template let-prof  pTemplate="item">
        <div class="ui-g" *ngIf="prof.id != id">
            <div class="ui-g-12 ui-md-3">
               
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-4"><img [src]="prof.urlImg" width="80" height="80"></div>
                    <div class="ui-g-2 ui-sm-8">
                        Nome: {{prof.nome}}<br />
                        Matéria: {{prof.profissao}}<br />
                        Valor: R$ {{prof.valor | number:'1.2-2'}} /h
                       
                    </div>
                    <div class="ui-g-2 ui-sm-12">
                        
                        {{prof.descricao}}
                    </div>
                   
                    <div class="ui-g-2 ui-sm-12">
                        Email: {{prof.email}} <br />
                        Tel: {{prof.telefone}}
                    </div>
                    
                        <div class="ui-g-6 ui-sm-12" *ngIf="isLogado == false">
                            <button pButton type="button" class="ui-button-info" (click)="showDialog(prof)" iconPos="right" label="Agendar aula" icon="fas fa-book"></button>   
                        </div>

                    
                   

                  
                </div>
            </div>
        </div>
    </ng-template>
    <p-footer>
        <button #loadButton type="text" *ngIf="professores.length > 5" icon="fa-refresh" pButton label="Mais"></button>
    </p-footer>
</p-dataScroller>

<div class="ui-g">
    <div class="ui-g-12 ui-sm-12">
    <p-dialog header="Agendar Aula" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
    [baseZIndex]="10000">
    <form [formGroup]="form" novalidate>
            <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                        <input type="text" formControlName="nome" pInputText placeholder="Nome completo">         
                    </div>
            </div>

            <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fas fa-phone-square"></i></span>
                        <input type="text" mask="(00) 09000-0000" [dropSpecialCharacters]="false" formControlName="telefone" pInputText placeholder="telefone">         
                    </div>
            </div>

            <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fas fa-envelope"></i></span>
                        <input type="text" formControlName="email" email pInputText placeholder="email">         
                    </div>
            </div>

            <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fas fa-share-square"></i></span>
                        <input type="text" formControlName="redeSocial" pInputText placeholder="link rede social">         
                    </div>
            </div>

            <div class="ui-g-12 ui-md-4">
                    <button pButton type="button" class="ui-button-success" [disabled]="!form.valid" (click)="agendarAula()" iconPos="right" label="Agendar" icon="fas fa-book"></button>       
            </div>
    </form>      
    </p-dialog>
    </div>
</div>
