

    <p-panel >
    <div class="ui-g">   
        <div class="ui-g-3 ui-sm-12">
            <img src="assets/images/logo2.png"  height="300" width="300"> 
        </div>
        
        <div class="ui-g-9 ui-sm-12">
            <h1>Easy Learning</h1>
            <h4>Sua ferramenta auxiliar educativa!</h4>
            
            <p>
                Você aluno, esta com dificuldades em matérias escolares? Não sabe a quem recorrer?
            </p>
            <p>
                Caro professor está com dificuldades financeiras? Deseja ter uma renda extra através de seu conhecimento?
                
                Experimente nosso site e descubra ! 

            </p>
        </div>
    </div>    
    </p-panel>
 